build/
dist/
inference/
source/
weights/
*.pt
*.t7
*.pth

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

 # Logs and databases
*.log
*.sql
*.sqlite

# IDEs and editors
.idea/
.vscode/
*.iml
.jpg